################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/L2Alone/.vs/L2Alone
/.vs
/L2Alone/x64/*
/L2Alone/L2Alone/x64/*
/L2Alone/Release
/L2Alone/L2Alone/Debug
/L2Alone/L2Alone/TestResult/*
/L2Alone/L2Alone/L2Alone.config
/L2Alone/L2Alone/L2Alone.cache