################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/L2Alone/.vs/L2Alone
/.vs
/L2Alone/L2Alone/x64/Debug
/L2Alone/x64/Debug
/L2Alone/L2Alone/x64/Release
/L2Alone/x64/Release
