################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/L2Alone/.vs/L2Alone
